#
# Created by FlyCubeMigration generator.
# User: {{ CURRENT_USER }}
# Date: {{ CURRENT_DATE }}
# Time: {{ CURRENT_TIME }}
#

#
# Directory for config files: 'fly-cube-migration.yml', 'database.yml' and 'post-scripts.yml'
#
FLY_CUBE_MIGRATION_CONFIG_DIR: "{{ PROJECT_PATH }}/config/"

#
# Directory for database migration files
#
FLY_CUBE_MIGRATION_DB_MIGRATIONS_DIR: "{{ PROJECT_PATH }}/db/migrate/"
