#
# Created by FlyCubeMigration generator.
# User: {{ CURRENT_USER }}
# Date: {{ CURRENT_DATE }}
# Time: {{ CURRENT_TIME }}
#

from src.Migration.BaseMigration import BaseMigration


class {{ MIGRATION_NAME }}(BaseMigration):
    #
    # NOTE: Uncomment if needed configure migration.
    #
    # def configuration(self):
    #     # Set here your code for configuration migration
    #     return

    def up(self):
        # Set here your code for install migration
        return

    def down(self):
        # Set here your code for uninstall migration
        return

