#!/usr/bin/make -f

PACKAGE=$(shell dh_listpackages)

%:
	dh $@

override_dh_clean:
	dh_clean -d

override_dh_auto_configure:

override_dh_auto_build:

override_dh_auto_install:
	mkdir -p debian/$(PACKAGE)
	# Copy the packages's files.
	find . -maxdepth 1 -mindepth 1 -not -name debian -print0 | \
		sed -e s#'./'##g | \
		xargs -0 -r -i cp -a ./{} debian/$(PACKAGE)/{}
#
# If you need to move files around in debian/$(PACKAGE) or do some
# binary patching, do it here
#

override_dh_strip:
# This has been known to break on some wacky binaries.
	#	dh_strip

override_dh_usrlocal:
	-dh_usrlocal || printf "Your package seems to be installing files into /usr/local/, which could be buggy. Will continue anyway.\n"

override_dh_fixperms:
#	dh_fixperms

override_dh_shlibdeps:
	-dh_shlibdeps

